<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
    <form action="update" method="POST">
        <p>Emp ID : <input disabled type="text" value="<%=data[0].empId%>" name="empId"></p>
        <p>Emp Name : <input type="text" value="<%=data[0].empName%>" name="empName"></p>
        <p>Emp Dept : <input type="text" value="<%=data[0].dept%>" name="dept"></p>
        <p>Emp Sal : <input type="text" value="<%=data[0].sal%>" name="sal"></p>
        <p>Emp location : <input type="text" value="<%=data[0].loc%>" name="locss"></p>
        <p><input type="submit" value="Update"></p>
    </form>
</body>
</html>